//
// Utility classes
// --------------------------------------------------


// Quick floats
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}

// Toggling content
.hide {
  display: none;
}
.show {
  display: block;
}

// Visibility
.invisible {
  visibility: hidden;
}

// For Affix plugin
.affix {
  position: fixed;
}

.d {
  text-align: right;
}

.mark-alert-error li:before {content : "Error!"; font-weight:bold;}
.mark-alert-warning li:before {content : "Atención!"; font-weight:bold;}
.mark-alert-info li:before {content : "Información!"; font-weight:bold;}
.mark-alert-success li:before {content : "Procesado!"; font-weight:bold;}

.show-alert-error:before {content : "Error!"; font-weight:bold;}
.show-alert-warning:before {content : "Atención!"; font-weight:bold;}
.show-alert-info:before {content : "Información!"; font-weight:bold;}
.show-alert-success:before {content : "Procesado!"; font-weight:bold;}

.wicket-aa {
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: @dropdownBackground;
  border: 1px solid #ccc; // Fallback for IE7-8
  border: 1px solid @dropdownBorder;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  .border-radius(6px);
  .box-shadow(0 5px 10px rgba(0,0,0,.2));
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;

  li {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: @baseLineHeight;
    color: @dropdownLinkColor;
    white-space: nowrap;
    cursor: pointer;

    &:focus,
    &:hover {
      text-decoration: none;
      color: @dropdownLinkColorHover;
      #gradient > .vertical(@dropdownLinkBackgroundHover, darken(@dropdownLinkBackgroundHover, 5%));
    }
  }

}